<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<section>
		<div class="card me-3 ms-3">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form th:object="${contact}" enctype="multipart/form-data" method="POST" th:action="@{/user/process-contact}" class="mt-2">
							
							<!-- First name -->
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text me-3">
										<i class="fa fa-plus"></i>
									</div>
								</div>
								<input required type="text" id="firstName" name="name" placeholder="Enter Name here" class="form-control"/>
							</div>
							
							<!-- Second name -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text me-3">
										<i class="fas fa-user-alt"></i>
									</div>
								</div>
								<input type="text" id="secondName" name="secondName" placeholder="Enter Nick-name here" class="form-control"/>
							</div>
							
							<!-- Phone -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text me-3">
										<i class="fa fa-phone"></i>
									</div>
								</div>
								<input required min="10" type="number" id="phone" name="phone" placeholder="Enter Phone no. here" class="form-control"/>
							</div>
							
							<!-- email -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text me-3">
										@
									</div>
								</div>
								<input type="email" id="email" name="email" placeholder="Enter Email here" class="form-control"/>
							</div>
							
							<!-- Work Field -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text me-3">
										<i class="fa fa-briefcase"></i>
									</div>
								</div>
								<input required type="text" id="work" name="work" placeholder="Enter work here" class="form-control"/>
							</div>
							
							<!-- Description -->
							<div class="form-group mt-3">
								<textarea placeholder="Enter Contact Description" name="description" id="description" class="form-control" rows="7"></textarea>
							</div>
							
							<!-- Image -->
							<div class="custom-file mt-3">
								<input type="file" name="profileImage"/>
							</div>
							
							<div class="container text-center">
							<button class="btn btn-outline-primary">Save Contact</button>
							</div>
							
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>