<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<section>
		<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:250px;" class="col-md-12">
                    
                        
                        <h3 class="text-center mt-3">Your New Password</h3>
                        <form th:action="@{/new-password}" method="post">
                        	
                        	<div class="form-group ms-3 me-3">
                        	<input name=email type="hidden" th:value="${session.email}">
                        	<input name="password" required type="password" placeholder="Enter new password here" class="form-control"/>
                        	</div>
                        	<div class="container mt-3 text-center">
                        	<button class="btn btn-warning">Save</button>
                        	</div>
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
</body>
</html>